h1{
    text-align: center;
    color: rgb(140, 123, 173);
    font-size: 80px;
    font-family:sans-serif;
    margin:0;
    padding: 20px 10px;
}

h2{
    text-align: center;
    color:lavender;
    font-size: 40px;
    font-family: sans-serif;
    background-color:rgb(140, 123, 173);
    margin:0;
    padding: 10px 5px;
}

.hlavicka{
    background-color: lavender;
    background-repeat: no-repeat;
    background-position: center;
    padding:50px;
    background-size:cover;
    margin: 0;
    
}


.paticka{
    background-color: rgb(140, 123, 173);
    padding:  25px 10px;
    text-align: center;
    color: lavender;
    font-size: 24px;
}

section{
    text-align: center;
    background-color: lavender;
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px 20px;
    overflow: auto;
    margin: auto;
}



.foto-omne,.foto-zajmy{
    border: rgb(140, 123, 173);
    border-radius: 32%;
    border-style: solid;
    padding: 1px 1px;
    float: left;
    margin:15px 10px 10px 0;
    width: 160px;
}

.foto-zajmy{
    margin:40px 10px 10px 0;
}

body{
    line-height:2;
    margin: 0;
    padding: 0;
}
p{
    padding:0;
    margin: 50px;
}
table{
    text-align: center;
    border-spacing: 0;
    border-style: solid;
    padding:auto;
    margin:auto;

}
th, 
td{
    border-bottom:1px solid  rgb(140, 123, 173);
    text-align: left;   
    padding:10px 20px;
}
.pozice{
    text-align: right;
    padding-left:30px;
}
.menu{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lavender;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: rgb(140, 123, 173);
    text-decoration: none;
    display: inline-block;
    padding:20px 30px

}


.menu a:focus,
.menu a:active
{
    background-color:rgb(140, 123, 173);
    color: lavender;
    border-color:lavender;
    border-style: solid;
}

.menu a:hover
{
  background-color:rgb(140, 123, 173);
  color: lavender;
}

